.container {
  text-align: center;
}

.sketch-container {
  width: 800px;
  height: 800px;
  display: grid;
  /* grid-template-columns: repeat(16, 1fr); */
  /* grid-template-rows: repeat(16, 1fr); */
  margin: 0 auto;
}

.sketch-container .box {
  border: 1px solid black;
}

#reset {
  margin: 16px 0;
}
